/***********************共通設定************************/

$text: #211712;
$link: #2A2727;

$blue: #1B65B9;
$blue_light: #0682EE;
$blue_text: #1B65B9;
$blue_hov: #0682EE;

$line: #E3E3E3;

$red: #C63C2B;
$red_hov: #B73525;

$white: #FFFFFF;
$black: #000000;



//break point
$w_sp: 750px;
$w_sml: 1000px;
$w_mid: 1300px;
$w_lrg: 1500px;




@mixin mediaSP {  /* 750以下  */
  @media all and (max-width: $w_sp) {@content;}
}


@mixin mediaPC {  /* 751以上 */
  @media all and (min-width: $w_sp + 1) {@content;}
}

@mixin media650 {  /* 650以上  */
  @media all and (min-width: $w_sp - 100) {@content;}
}


@mixin media760 {  /* 760以上  */
  @media all and (min-width: $w_sp + 10) {@content;}
}

@mixin media800 {  /* 801以上  */
  @media all and (min-width: $w_sml - 199) {@content;}
}

@mixin media900max {  /* 900以下  */
  @media all and (max-width: $w_sml - 100) {@content;}
}

@mixin media900 {  /* 901以上  */
  @media all and (min-width: $w_sml - 99) {@content;}
}


@mixin mediaSMLmax {  /* 1000以下  */
  @media all and (max-width: $w_sml) {@content;}
}

@mixin mediaSMLmin {  /* 1001以上  */
  @media all and (min-width: $w_sml + 1) {@content;}
}


@mixin media1200max {  /* 1200以下  */
  @media all and (max-width: $w_sml + 200) {@content;}
}

@mixin media1200 {  /* 1201以上  */
  @media all and (min-width: $w_sml + 201) {@content;}
}






@mixin mediaMIDmax {  /* 1300以下  */
  @media all and (max-width: $w_mid) {@content;}
}

@mixin mediaMIDmin {  /* 1301以上  */
  @media all and (min-width: $w_mid + 1) {@content;}
}

@mixin mediaLRGmax {  /* 1500以下  */
  @media all and (max-width: $w_lrg ) {@content;}
}

@mixin mediaLRGmin {  /* 1501以上  */
  @media all and (min-width: $w_lrg + 1) {@content;}
}


@mixin cont {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
}

@mixin trans {  transition: all .3s;}
@mixin trans1 {  transition: all .5s;}
@mixin trans3 {  transition: all 3s;}


@mixin font_navi {
  font-family:
  Noto Sans JP,
  'Noto Sans Japanese',
  'ヒラギノ角ゴ Pro W4',
  'Hiragino Kaku Gothic Pro',
  'ヒラギノ丸ゴ Pro W4',
  'Hiragino Maru Gothic Pro',
  YuGothic,
  '游ゴシック',
  'メイリオ',
  'Meiryo',
  'Osaka',
  'ＭＳ Ｐゴシック',
  sans-serif;
}

@mixin font_footer {
  font-family:
  'ヒラギノ丸ゴ Pro W4',
  'Hiragino Maru Gothic Pro',
  'ヒラギノ角ゴ Pro W4',
  'Hiragino Kaku Gothic Pro',
  YuGothic,
  '游ゴシック',
  Noto Sans JP,
  'メイリオ',
  'Meiryo',
  'Osaka',
  'ＭＳ Ｐゴシック';
}







// 以下 岩屋追加分    //


/*----------------------------------------------------
メディア
----------------------------------------------------*/
@mixin media-max( $width:1000px ) {
  @media all and (max-width: ( $width )) {@content;}
}
@mixin media-min( $width:1000px ) {
  @media all and (min-width: ( $width )) {@content;}
}

/*----------------------------------------------------
フォント設定
----------------------------------------------------*/
@mixin setFont( $sz:15px , $ls:0.05em , $lh:1 ) {
  font-size: $sz;
  letter-spacing: $ls;
  line-height: $lh;
}

@mixin rubik {
  font-family: 'Rubik';
  font-style: italic;
}


/*----------------------------------------------------
中央寄せ
----------------------------------------------------*/

/* 上下左右中央寄せ */
@mixin CENTERxCENTER {
  top: 50%;
  left: 50%;
  transform: (translate( -50%,-50%));
}

/* 上下中央寄せ */
@mixin CENTERxTate {
  top: 50%;
  transform: (translateY( -50%));
}

/* 左右中央寄せ */
@mixin CENTERxYoko {
  left: 50%;
  transform: (translateX( -50%));
}

/*----------------------------------------------------
擬似要素
----------------------------------------------------*/

//画像
@mixin setGiji_img( $BgUrl:('../~') , $wh:20px , $ht:20px ) {
  content: '';
  position: absolute;
  background: url( $BgUrl );
  background-repeat: no-repeat;
  background-size: contain;
  width: $wh;
  height: $ht;
}

//正方形。引数で長方形などにも変更
@mixin setGiji_square( $wh:10px , $ht:10px , $bg:#716F6F ) {
  content: '';
  position: absolute;
  display: block;
  background: $bg;
  width: $wh;
  height: $ht;
}

//線 下線や上線
@mixin setLine( $ht:5px , $wh:100% , $bc:none ) {
	content: "";
	position: absolute;
	height: $ht;
	width: $wh;
	background-color: $bc;
}


/*----------------------------------------------------
ボタン

基本のhtml
<a href="" class="btn">
  <span>私たちについて</span>
</a>
----------------------------------------------------*/

/* 初期：bg塗りあり、枠線塗りあり ⇨ hoverで反転 */
@mixin btn( $wh:230px , $color:#000000 ) {
  background: $color;
  border: 1px solid $color;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  position: relative;
  width: $wh;
  height: 65px;
  font-weight: bold;
  @include trans1;
  cursor: pointer;

  span {
    color: white;
    width: 100%;
    display: block;
    position: absolute;
    @include CENTERxCENTER;
  }

  @include mediaPC {
    height: 50px;
    &:hover {
      background-color: $white;
      span {
        color: $color;
      }
    }
  }
}

