@charset 'utf-8';
@import 'mixin';

#main{
  @include mediaSP{
    padding: 100px 30px 40px;
  }
}


 .tit_wrap {
   @include mediaPC{
    margin-top: 133px;
  }
}

.text_area {
  max-width: 700px;
  margin: 60px auto 0;
  text-align: left;
  h2{
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 20px;
    line-height: 1.6;
  }
  h3{
    margin: 20px 0 0;
    font-weight: normal;
  }
  p{
    margin: 10px 0;
    line-height: 2;
    letter-spacing: 0px;
    &.marginPlus{
      margin: 20px 0 10px;
    }

  }
  li{
    margin: 10px 0;
  }
  .innerUl{
    li{
      margin:  0;
    }
    &.marginL{
      li{
        margin: 0 0 0 10px;
      }
    }
  }
  .innerDot{
    li{
      margin:  0;
      padding: 0 0 0 10px;
      position: relative;
      line-height: 2;
      &::before{
        position: absolute;
        content: "・";
        left: -5px;
      }
    }
  }
}



