@charset "UTF-8";
/***********************共通設定************************/
/*----------------------------------------------------
メディア
----------------------------------------------------*/
/*----------------------------------------------------
フォント設定
----------------------------------------------------*/
/*----------------------------------------------------
中央寄せ
----------------------------------------------------*/
/* 上下左右中央寄せ */
/* 上下中央寄せ */
/* 左右中央寄せ */
/*----------------------------------------------------
擬似要素
----------------------------------------------------*/
/*----------------------------------------------------
ボタン

基本のhtml
<a href="" class="btn">
  <span>私たちについて</span>
</a>
----------------------------------------------------*/
/* 初期：bg塗りあり、枠線塗りあり ⇨ hoverで反転 */
.tit_wrap {
  margin-top: 133px;
  padding: 0 20px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .tit_wrap {
    margin-top: 20px;
    padding: 0 30px;
  }
}

.content_area {
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .content_area {
    padding: 0 30px 40px;
  }
}

/*-------------------------------------------*/
/*         エントリーページ                */
/*-------------------------------------------*/
.entry .btn_confirm_ok:hover::after {
  border-left: 6px solid #FF4500;
}
.entry .btn_confirm input {
  background: #FF4500;
  border: solid 1px #FF4500;
}
.entry .btn_confirm input:hover {
  background: #fff;
  color: #FF4500;
}

.contact_confirm .btn_confirm_back input {
  padding: 20px;
  background: #000;
  border-radius: 5px;
  width: 100%;
  border: solid 1px #000;
  color: #fff;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.contact_confirm .btn_confirm_back input:hover {
  background: #fff;
  color: #000;
}

/*-------------------------------------------*/
/*         ラジオボタンのカスタム                */
/*-------------------------------------------*/
.radio-btns.form_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 30px;
  position: relative;
}
.radio-btns.form_a .mwform-radio-field {
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .radio-btns.form_a .mwform-radio-field {
    margin: 0px 20px 16px 0;
    display: block;
  }
}
.radio-btns.form_a .error {
  top: 25px;
  position: absolute;
}

/* ラジオボタンを隠す */
.radio-btns input[type=radio].radio-btns__item {
  display: none;
}

.radio-btns label {
  display: inline-block;
  cursor: pointer;
}

/* spanの左側にボタンを配置するスペースを作る */
.radio-btns .radio-btns__item + span {
  padding-left: 25px;
  display: inline-block;
  position: relative;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .radio-btns .radio-btns__item + span {
    padding-left: 25px;
  }
}

/* 各パーツを作成 */
.radio-btns .radio-btns__item + span::after,
.radio-btns .radio-btns__item + span::before {
  content: "";
  display: block;
  position: absolute;
}

/* before上書き */
.radio-btns .radio-btns__item + span::before {
  background: #fff;
  border: #109552 solid 1px;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* after上書き */
.radio-btns .radio-btns__item + span::after {
  opacity: 0;
  width: 14px;
  height: 12px;
  top: 4px;
  left: 4px;
  background-image: url(../images/contact/entry_check.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*
  checked状態
  文字のcolorとボタンのopacityを変更
*/
.radio-btns .radio-btns__item:checked + span {
  color: #766D60;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.radio-btns .radio-btns__item:checked + span::after {
  opacity: 1;
}

.radio-btns .radio-btns__item:checked + span::before {
  background: #109552;
}

/*-------------------------------------------*/
/*         エントリーページ  (確認ページ)         */
/*-------------------------------------------*/
.entry_confirm .radio-btns.form_a {
  margin: 0;
}
.entry_confirm .btn_confirm_ok input {
  background: #FF4500;
  border: solid 1px #FF4500;
}
.entry_confirm .btn_confirm_ok input:hover {
  color: #FF4500;
}
/*# sourceMappingURL=entry.css.map */